.square {
    background-color: transparent;
    position: absolute;
    z-index: -1;
}

@keyframes square-rotation {
    0% {
        transform: rotate(0deg);
        border: var(--width) solid var(--color-1);
    }

    25% {
        border: var(--width) solid var(--dark-purple);
    }

    50% {
        border: var(--width) solid var(--color-2);
    }

    75% {
        border: var(--width) solid var(--dark-purple);
    }

    100% {
        transform: rotate(360deg);
        border: var(--width) solid var(--color-1);
    }
}
