.login-page {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    padding: 40px 60px;
    background-color: #0008;
    border: 1px solid var(--color-1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    appearance: none;
    border: 0;
    background-color: unset;
    padding: 0;
    color: unset;
    outline: 0;
    font-size: unset;
    font-family: unset;
    
    border: 1px solid var(--dark-purple);
    border-radius: 5px;

    margin: 10px 0px;
    padding: 5px 15px;

    background-color: #0008;

    transition: border 0.25s ease-out, color 0.25s ease-out, background-color 0.25s ease-out;
}

.login-input:focus {
    border: 1px solid var(--color-1);
    color: var(--color-2);
    background-color: #8881;
}

.login-button {
    cursor: pointer;
    font-family: OdinsSpear;
    font-size: 1.5em;
    padding: 0px 45px;
}

.login-button:hover {
    color: var(--color-1);
    border: 1px solid var(--color-2);
    background-color: #4448;
}

.create-account {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.create-account-checkbox {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: var(--color-1);
    transition: background-color 0.25s ease-out, transform 0.5s ease-out;
}

.create-account-checkbox:hover {
    transform: rotate(45deg);
}

.create-account-checkbox:checked {
    background-color: var(--color-2);
    transform: rotate(-90deg);
}

.create-account-checkbox:checked:hover {
    transform: rotate(-135deg);
}
